body {  
    background-color: #f1f1f1;
    width:95%;
    margin:auto;
    min-width:600px;
    max-width:2000px;
/*    text-align: justify;
*/    }

    
.container .row1 a{
    color:white;
    text-decoration: none;
}

.container .row1white a{
    color:#121212;
    text-decoration: none;
}

.row1 a:hover{
    color:#121212;
}

.row1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 20px; 
    text-align: center;
    display: inline-block;
}

.row1white {
    margin-bottom: 1px;
    text-align: center;
    display: inline-block;
    color:white;
}


p{
  font-size: 16px; 
  text-align: center; 
  font-family: verdana;
}

h3{
    font-family: verdana;
    font-size: 18pt;
    text-align: center;
    font-kerning: 10px;
    color: black;
}

h2{
    font-family: verdana;
    font-size: 30pt;
    text-align: center;
    font-kerning: 10px;
    color: black;
}

.img-circle img{
    border-radius: 50%;
    box-sizing: content-box;
    text-decoration: none;

}
.bloc a img{
    margin-left: 10px;
    display: inline-block;
}
.bloc2 {
    align-self: center;
}

.contact img{
    text-decoration: none;
}

.contact div{
    margin-left: 30%;
    
}

.contact txt{
    float: right;
    margin-right: 30%;
}

.container {
    font-size: 13pt;
    margin-bottom: 30px;
    background-color: #285DCB;
    font-family: verdana;
    text-align: center;
}

.disableMenu {
    display: none;
}

.col-md-1{
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container2 {
  height: 60px;
  margin: 0 auto;
}

.header{
  background: #285DCB;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  float: right;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

hr{
  margin-bottom: -1px;

}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  text-shadow: 0.8px 0.8px #383838;

}


nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/*#texto {
margin-top: -130px;
font-size: 60px;
font-family: verdana;
color:white;
z-index: 1;}*/

.img_desc {
    border-radius: 5%;
    display: block;
    margin-bottom: 20px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

.desc p{
  text-align: justify;
}


/*FOTO ABOUT*/
.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
  content: '';
    display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.ch-thumb {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
  transform-origin: 95% 40%;
  transition: all 0.3s ease-in-out;
}
.ch-thumb:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  top: 40%;
  left: 95%;
  margin: -4px 0 0 -4px;
  background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
  box-shadow: 0 0 1px rgba(255,255,255,0.9);
}
.ch-img-1 { 
  background-image: url(equipe1.jpeg);
  z-index: 12;
}

.ch-info {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  background: #c9512e url(../images/noise.png);
  box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}


.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 60px;
  padding: 22px 0 0 0;
  height: 85px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}


.ch-info p a {
  display: block;
  color: #333;
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 24px;
  margin: 7px auto 0;
  font-family: 'Open Sans', Arial, sans-serif;
  opacity: 0;
  transition: 
    transform 0.3s ease-in-out 0.2s,
    opacity 0.3s ease-in-out 0.2s,
    background 0.2s linear 0s;
  transform: translateX(60px) rotate(90deg);
}

.ch-info p a:hover {
  background: rgba(255,255,255,0.5);
}


.ch-item:hover .ch-thumb {
  box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
  transform: rotate(-110deg);
}
.ch-item:hover .ch-info p a{
  opacity: 1;
  transform: translateX(0px) rotate(0deg);
}



/*SLIDER CSS*/


#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}

#sliderFrame 
{
    width:800px;
    margin: auto;
    padding:40px;
    box-shadow: 0 0 5px #BBB;
    border:2px solid #CCC;
    background-color:#FFF;
    align-items: center;
}

#slider, #slider .sliderInner {
    width:510px;height:326px;/* Must be the same size as the slider images */
    border-radius:0px;
}

#slider {
    background-color:white;
    float:left;
    position:relative;
    transform: translate3d(0,0,0);
}

/* the link style (if an image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider .mc-caption {
    position:absolute;
    width:400px;
    height:auto;
    padding:10px 0;/* 10px will increase height.*/
    left:120px;
    bottom:10px;
    overflow:hidden;
    font:bold 13px/16px verdana;
    color:white;
    text-align:center;
    background:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
}
#slider .mc-caption a { 
    color:#060;
}


/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper  {
    display:none;
}

/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}



/* -- thumbnails -- */
#thumbs 
{
    float:left;
    margin-left:10px;
    width:280px;
    font:normal 11px/13px Arial;
    border-top:1px solid #CCC;
    color:#666;
}
#thumbs .thumb 
{
    border:1px solid #CCC;
    border-top:1px solid #FFF;
    padding:14px 12px;
    background:#EEE;
    cursor:pointer;

}
#thumbs .thumb-on 
{
    background:#FFF;
}

#thumbs img{border:1px solid #DDD; cursor:pointer; width:70px; height:44px;}

#thumbs .frame {float:left;padding:2px;border:1px solid #CCC;background:white;border-radius:3px;box-shadow:0 0 3px #BBB;line-height:0;font-size: 14px;}
#thumbs .thumb-content {float:left;width:156px;padding-left:18px;font-size: 14px;}

/* Captions in #thumbs .thumb-content */
#thumbs .thumb-content p {font-weight:bold; color:#BF5D9B; margin:0 0 3px;padding:0;font-size: 14px;}
#thumbs .thumb-on .thumb-content p {color:#BB0000; font-size: 14px;}


/*Thumbnail Image hover text*/

.col-big{
    position: relative;
    min-height: 1px;
    width:100%;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.hovereffect {
    margin: 6px;
    width: 260px;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    align-self: center;
    cursor: default;
}

.hovereffect a{
  text-decoration: none;
  color: white;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(48,55,65,0.2);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

.hovereffect:hover .overlay {
    background-color: rgba(30, 97, 200, 0.7);
}

.hovereffect img {
    display: block;
    position: relative;
    align-self: center;
    margin: auto;

}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    margin:0px;
}

.hovereffect p.info {
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    font-family: verdana;
    padding: 8px 14px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
}

.hovereffect:hover p.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect p.info:hover {
    box-shadow: 0 0 5px #fff;
}



/*PARA A PÁGINA ABOUT ME*/

p.citacao{
  font: 400 28px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #2A3855;
  text-align: center;
  margin-top: 1px;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.eu{
    float:left;
    margin-left:70px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 300px;
}
.aboutme{
    margin-top: 49px;
}


.main{
  display: block;
  width: 70em;
  position: absolute;
  margin-left: 70px;
  margin-top: 30px;
  float: right;
}
.progressBar{
  position: relative;
  width: 67%;
  height: 40px;
  background: #eeeeee;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #222;
  float:right;
}
.title{
  position: absolute;
  width: 100px;
  height: 40px;
  padding-left: 10px;
  float: left;
  font-weight: bold;
  color: #946E07;
  line-height: 2.5;
  z-index: 10000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 0 2px #333;
  
}
.progress_value{
  position: relative;
  float: right;
  padding-right: 10px;
  line-height: 2.5;
  font-weight: bold;
  color: #455a64;
  z-index: 10000;
}
.progress{
  height: 40px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 2px 0 2px #555;
}
.htmlColor{
  background: white;
}
.cssColor{
  background: white;
}
.jsColor{
  background: white;
}
.phpColor{
  background: white;
}
.ajaxColor{
  background: white;
}
.html{
  background: #2A3855;
}
.css{
  background: #2A3855;
}
.js{
  background: #2A3855;
}
.php{
  background: #2A3855;
}
.ajax{
  background: #2A3855;
}
@media (max-width: 720px) {
  .main{
    width: 90%;
  }
}


/* NOSSA PARTE */

.dados txt{
    margin-right:40px;
}

.ilustra{
    margin-right:10px;
}
.ilustra img{
    border-radius: 10%;
    margin-bottom:7px;
    margin-top:7px;
}

.cima{
    font-size: 50px;
    margin-bottom: -80px;
    margin-top: -30px;
    text-align: center;

}

div.tres {
  margin: auto;
  width:95%;
  height:100%;
  border: 35px solid; /* As 4 bordas sólidas com 25px de espessura */
  border-color:transparent; /* cores: topo, direita, inferior, esquerda */
 }

.bulk{
  padding-bottom: 10%;
  width:90%;
  height: 100%;
  margin: auto;
  padding:30px;
  box-shadow: 0 0 5px #BBB;
  border:1px solid #CCC;
  background-color:#FFF;
  align-items: center;
}


.tags{
  color:#285DCB;
}


/* Style all font awesome icons */
.fa {
    padding: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    position: fixed;
    z-index: 1;
    right:auto;
    left:0px;

  }

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.9;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    margin-top: 184px;
    position: fixed;
}

/* Facebook */
.fa-linkedin {
    background: #007bb5;
    color: white;
    position: fixed;
}


/* Github */
.fa-github {
    background: #000000;
    color: white;
    margin-top: 138px;
    position: fixed;
}

/* Google+ */
.fa-google {
    background: #dd4b39;
    color: white;
    margin-top: 46px;
    position: fixed;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    margin-top: 92px;
    position: fixed;
}

h10{
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  text-align: left; 
  color: #946E07; 
  font-weight: 400; 
  font-style: italic;
  line-height: 60px; 
  margin: 0 0 0px;
}

.corpo{
  color: #5f6c7a; 
  font-size: 20px; 
  font-family: "Libre Baskerville", serif; 
  line-height: 38px; 
  text-shadow: 0 1px 1px #fff; 
  padding-top: 1px;
}